body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(32, 146, 219);
    font-size: 16px;
}

.logo {
    margin-top: 40px;
    margin-bottom: 30px;
    display: block;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: white;
    width: 320px;
    margin: auto;
    padding: 40px;
}

.signup-form fieldset {
    border: none;
    padding: 0px;
    width: 320px;
    margin: 0px;
}

.signup-form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.signup-title {
    color: rgb(126, 126, 126);
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

input {
    display: block;
    width: 286px;
    padding: 15px;
    color: rgb(117, 117, 117);
    border: 2px solid rgb(226, 229, 231);
    border-radius: 3px;
}

fieldset button {
    display: block;
    width: 320px;
    padding: 15px;
    margin-top: 30px;
    background-color: rgb(93, 193, 90);
    border: none;
    border-radius: 3px;
    color: white;
    margin-bottom: 15px;
    font-size: 120%;
}

fieldset button:hover {
    background-color: rgb(20, 193, 90);
}

fieldset p {
    text-align: center;
}

fieldset p a {
    color: rgb(159, 159, 159);
}

.login {
    text-align: center;
    color: white;
}

.login a {
    color: white;
}
